<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Greska</h1>
        <h2>Greska izbacuje u View-Shared-Error,try-catch problem u narucene kartices kontroler</h2>
    </hgroup>
</body>
</html>
